.display-category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  border-radius: 6px;
  gap: 10px;
  min-width: 200px;
}

.display-category img {
  height: 180px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 1px 20px 6px #163a83;
}

h3 {
  letter-spacing: 2px;
  font-weight: bold;
  font-family: $font-f-base;
}

.carousel {
  min-width: 600px;
}

.carousel .carousel-caption {
  position: inherit;
}

.carousel .carousel-indicators button {
  display: none;
}

.carousel .carousel-control-next-icon.change {
  background-image: url('../../images/arrow.png');
}

.carousel .carousel-control-prev-icon.change {
  background-image: url('../../images/prev_arrow.png');
}

.change {
  width: 50%;
}

.wrap-carousel {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: stretch;
}