form{
  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #b3d1ff;
    box-shadow: 3px 2px 6px 0px #b3d1ffa6;
    border-radius: 8px;
    padding: 5px 0px;
    margin: 4px;
    background-color: transparent;
    color: #ebeae6;
    text-indent: 15px;
    &::placeholder {
      color: $light;
    }
    &:focus {
      outline: none;
    }
  }
}

.link-btn {
  text-decoration: none;
}

