body {
  margin: 0;
  color: $light !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../images/futuristic.jpg');
  background-size: cover;
}


main {
  @extend %flex-fill;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  margin-left: 20px;
}


.subtitle {
  display: flex;
  margin-left: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: $font-f-base;
}


.text-warning {
  padding: 0 15px;
  letter-spacing: 0.5px;
}


.title {
  font-family: $font-f-title;
  font-size: 50px;
  display: block;
  line-height: 3;
  letter-spacing: 5px;
  color: #ebeae6;
  padding: 0 10px;
  margin-left: 13px;
}



.btn {
  background-color: $light;
  color: #ebeae6db !important;
  border: 1px solid $blue;

  &:hover {
    background-color: #0065fff5 !important;
    border-color: var(--bs-btn-hover-border-color);
    color: $light !important;
    box-shadow: 5px 4px 7px 0px #0de4f8;
  }
}