// * {
//   box-sizing: border-box;
// }

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

$font-f-base: 'Coming Soon', cursive;
$font-f-title: 'Shadows Into Light', cursive;


$navy: #001f4d;
$blue: #b3d1ff;
$light: #ebeae6;

// $font-family-base: var()

%flex-fill{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


@mixin flex-center($direction){
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-between;
}

