
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

$font-f-title: 'Nova Mono', monospace;
$font-f-base: 'Rajdhani', sans-serif;


$navy: #001f4d;
$blue: #b3d1ff;
$light: #ebeae6;


%flex-fill{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}



